/* Simple Reset*/

* {
	margin: 0;
	padding: 0;
}

/* All CSS*/
body {
	font-family: Helvetica, Arial, serif;
	font-size: 14px;
	font-weight: normal;
	color: #959090;
}

h1, h2, h3, h4, h5, h6 {
		font-family: Georgia, times, sans-serif;
		font-weight: 200;
		font-size: 40px;
		color: black;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

@media screen and (max-width: 600px) {
	h1, h2, h3, h4, h5, h6 {
		font-size: 60px;
	}
}

p {
	font-family: Arial, fantasy, sans-serif;
	font-size: 16px;
}

/* Max Block*/
#container {
	margin: 20px auto;
	width: 90vw;
}


#header {
	margin: 0 0 20px;
}

#header img{
		display: block;
		margin: auto;
		max-height: auto;
	}

@media screen and (min-width: 600px) {
	#header img{
		max-width: 40%;
	}
}

@media screen and (max-width: 500px) {
	#header img{
		max-width: 15%;
	}
}

/* content */
#content {
		margin: 10px auto 20px;
		padding: 10px;
		text-align: center;
	}
	
#content p {
	padding: 10px;
	font-style: italic;
	text-align: justify;
}

@media screen and (min-width: 600px) {
	#content {
		max-width: 800px;
	}
}

@media screen and (max-width: 600px) {
	#content {
		max-width: 80%;
	}
	#content p {
		padding: 10px;
		font-size: 20px;
	}
}

/* Iofo */
#info {
	width: 90vw;
	margin: 10px auto;
	display: table;
}

.family {
	padding: 10px;
	text-align: center;
}

@media screen and (min-width: 960px) {
	.family {
		opacity: 0.7;
	}
	
	.family:hover {
		padding: 10px;
		text-align: center;
		opacity: 1.0;
	}
}

#pics {

}

#pics img{
	max-height: 70%;
	max-width: 70%;
}

@media screen and (min-width: 960px) {
	#pics img:hover{
		max-height: 100%;
		max-width: 100%;
	}
}

#bucks {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}
#lion {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}
#eagle {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}
#dragon {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}
#wolf {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}
#rose {
	width: 400px;
	height: : 300px;
	margin: 10px;
	float: left;
	border: solid 2px black;
}

#footer {
	text-align: center;
}

#footer img {
	display: block;
	margin: auto;
}