/* Simple Reset CSS */

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, "Lucida sans", serif;
	font-size: 16px;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px auto;
	font-size: 30px;
	color: #000;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	color: #9c9797;
	font-family: Georgia, times, sans-serif;
	font-style: italic;
	font-weight: bolder;
}

/* HEAD */
.header {
	border: solid 1px red;
	text-align: center;
}

#logo img {
	max-width: 30%;
	max-height: auto;
}